<a href="https://colab.research.google.com/github/JorgeVitor30/Curso-Data-Science/blob/main/ComandosGerais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [186]:
import pandas as pd

In [ ]:
dados = pd.read_csv("tempo.csv", ';')
dados.shape

dados

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [ ]:
dados.describe()

       Temperatura     Umidade
count    14.000000   13.000000
mean    155.571429   89.769231
std     306.433759   34.540203
min      64.000000   65.000000
25%      69.250000   70.000000
50%      73.500000   85.000000
75%      80.750000   90.000000
max    1220.000000  200.000000

In [ ]:
dados.head() #  5 PRIMEIROS
dados.tail()# 5 ULTIMOS

   Aparencia  Temperatura  Umidade       Vento Jogar
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [ ]:
# DEFINE OQ EU QUERO DE ACORDO COM AS COLUNAS
dados.loc[[1,2,3,4,5]]

  Aparencia  Temperatura  Umidade       Vento Jogar
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim
5     chuva           65     70.0  VERDADEIRO   nao

In [ ]:
# FILTRO
dados.loc[dados["Temperatura"] > 80]

   Aparencia  Temperatura  Umidade  Vento Jogar
0        sol           85     85.0  FALSO   nao
2    nublado           83     86.0  FALSO   sim
7        sol         1220     95.0  FALSO   nao
12   nublado           81     75.0  FALSO   sim

In [ ]:
dados[["Umidade","Temperatura"]]

In [ ]:
# ATRIBUINDO A VARI√ÅVEL

credito2 = dados.loc[dados['Vento'] == 'FALSO' ]
credito2

   Aparencia  Temperatura  Umidade  Vento Jogar
0        sol           85     85.0  FALSO   nao
2    nublado           83     86.0  FALSO   sim
3      chuva           70      NaN  FALSO   sim
4      chuva           68     80.0  FALSO   sim
7        sol         1220     95.0  FALSO   nao
8        sol           69     70.0  FALSO   sim
12   nublado           81     75.0  FALSO   sim

In [ ]:
# DEFINI√á√ÉO DE COLUNAS

credito3 = dados[['Umidade',"Temperatura"]].loc[dados['Jogar'] == 'sim']
credito3

In [ ]:
import numpy as np
array1 = np.array([1,45,65,87,34])
s2 = pd.Series(array1)
s2

0     1
1    45
2    65
3    87
4    34
dtype: int64

In [ ]:
# RENOMEAR NOMES DAS COLUNAS

dados.rename(columns={"Aparencia":"teste"}, inplace=True)
#implace = TRUE define como mudan√ßa absoluta nos dados

dados.rename(columns={"teste":"Aparencia"}, inplace=True)
dados

In [ ]:
## DELETAR UMA COLUNA
dados.drop("Aparencia", axis=1)
# SE P√îR "IMPLACE = TRUE" FICA MUDAN√áA PERMANENTE

In [ ]:
# VERIFICAR SE H√Å DADOS NULOS

dados.isnull()
dados.isnull().sum()  # QUANTIDADE DE NULOS EM COLUNAS

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [ ]:
# REMOVER OS DADOS NULOS
a = dados.dropna()  
a.isnull().sum()  #dados sem valores nulos

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [ ]:
#PRENCHER FADOS FALTANTES

dados['Umidade'].fillna(0,inplace = True)
dados

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      0.0       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [ ]:
# LINHA E COLUNAS DEFINIDAS

dados.iloc[[0,1,2,3,7],1:3]

   Temperatura  Umidade
0           85     85.0
1           80     90.0
2           83     86.0
3           70      0.0
7         1220     95.0